<% provide(:title, 'About') %>
<h1>About</h1>

<pre>
I needed to learn RoR and our Pick'Em League managed this previously solely through email.  I decided it would be a good starter project with a good cause.  Let me know if you'd like access to the source code as it is all on github.
</pre>