<% provide(:title, 'Home') %>
<h1>Home</h1>

<% if(signed_in?)%>
	<%= render 'shared/user_info' %>
<% else %>	
	<div style="margin:0 auto;width:75%;text-align:center">
		<%= link_to "Sign Up Now", signup_path, class: "btn btn-primary btn-large" %>
	</div>
<% end %>