<% provide(:title, 'Rules') %>
<h1>Rules and Frequently Asked Questions</h1>
<p>This is a pick'em league where </p>

<h2>Picks</h2>
<div class="rules-list">
	<dl>
	<dt>How is my score calculated when I pick a game?</dt>
	<dd class style="overflow: hidden; display: none;">
		<%= image_tag(image_path('pick-ex1.png')) %>
		<p>Using the spread above.  If you pick the favorite, you subtract 3.5 points from the final score.  If you pick the underdog, you add 3.5 points to the final score.</p>
		<p>Picking the Favorite: <span class="positive-num">Favorite Score</span> - <span class="negative-num">(Underdog Score <b>+ Spread</b>)</p>
		<p>Picking the Underdog: <span class="positive-num">(Favorite Score - <b class="negative-num">Spread</b>)</span> - <span class="negative-num">Underdog Score</p>
	</dd>
	<dt>Can I submit a pick through email, phone, or in-person?</dt>
	<dd class style="overflow: hidden; display: none;">
		<p>No, all picks must be submitted through the website.</p>
	</dd>
	<dt>When do I have to submit my pick by?</dt>
	<dd class style="overflow: hidden; display: none;">
		<p>All picks must be submitted before the first game on Sunday.  Picks for the Thursday game must be submitted before the kickoff of Thursday.</p>
	</dd>
	<dt>What happens if I do not submit a pick?</dt>
	<dd class style="overflow: hidden; display: none;">
		<p>If no pick is submitted by the first game of Sunday, you will be given the HOME TEAM of the last played game of the week.</p>
	</dd>
	<dt>How does the BYE work?</dt>
	<dd class style="overflow: hidden; display: none;">
		<ul>
			<li>You only have <u>ONE</u> BYE per season.</li>
			<li>A BYE indicates that no game will be picked for that week.</li>
			<li>If you do not use your BYE before the last week of the season.  Your BYE will be applied to the last week.</li>
		</ul>
	</dd>
	<dt>How do Wildcards work?</dt>
	<dd class style="overflow: hidden; display: none;">
		<ul>
			<li>Every player has a total of <b><u>5</b></u> wildcards per season.</li>
			<li>A wildcard can be used to pick an additional game per week. When choosing to do this, the wildcard will be applied automatically and no manual specification is required.</li>
			<li>A wildcard may be used as a multiplier for the points gained.  For example, if you win by 10pts and applied 1 wildcard to your pick.  You would have a total of 20pts (10pts x 2).</li>
			<li>You do not have to use all of your wildcards.</li>
		</ul>
	</dd>
	</dl>
</div>
<br>
<h2>Playoffs</h2>
<div class="rules-list">
	<dt>Do we pick playoff games too?</dt>
	<dd class style="overflow: hidden; display: none;">
		<p>Yes and no. There are playoffs in this league, but you qualify based on your total score in the regular season.</p>
	</dd>
	<dt>What is the criteria for qualifying for the playoffs?</td>
	<dd class style="overflow: hidden; display: none;">
		<p>You must satisfy one of these criteria to make the playoffs:</p>
		<ul>
			<li>One of the top 10 point earners</li>
			<li>Bottom 2 point earners</li>
		</ul>
	</dd>
</div>
<br/>
<h2>Payouts</h2>
<div class="rules-list">
	<dt>What is the entry fee?</dt>
	<dd class style="overflow: hidden; display: none;">
		<p>Entry fee is $150.</p>
	</dd>
	<dt>What are the payouts?</dt>
	<dd class style="overflow: hidden; display: none;">
		<p>Regular Season accounts for 70% and Playoffs account for 30%.</p>
			<table style="float:left;">
				<tr><td colspan="2">Regular Season</td></tr>
				<tr><td>Place</td><td>Payout %</td></tr>
				<tr><td>1</td><td>16.0%</td></tr>
				<tr><td>2</td><td>12.0%</td></tr>
				<tr><td>3</td><td>9.5%</td></tr>
				<tr><td>4</td><td>7.0%</td></tr>
				<tr><td>5</td><td>6.0%</td></tr>
				<tr><td>6-10</td><td>3.48%</td></tr>
			</table>
			<table style="display:inline;">
				<tr><td colspan="2">Playoff Season</td></tr>
				<tr><td>Place</td><td>Payout %</td></tr>
				<tr><td>1</td><td>50.0%</td></tr>
				<tr><td>2</td><td>33.0%</td></tr>
				<tr><td>3</td><td>17.0%</td></tr>
			</table>
	</dd>
	<dt>How do we submit our entry fee?</dt>
	<dd class style="overflow: hidden; display: none;">
		<p>Paypal mother fucker! Do you use it!?!?!</p>
	</dd>
</div>