<% provide(:title, 'Rules') %>
<h1>Rules</h1>

<pre>
Below you will see several things; the lines for this week, the payout schedule and the list of competitors. 
 
Here is a quick recap of the rules that will be strictly followed.
1. Pick at least 1 team each week against the spread
	a. If you take the Giants tomorrow, you start the game at -3.5.  If they win by 10 you get 6.5 points towards your season total.

2. All picks must be submitted to    weaselsweekly@gmail.com
	a. I will not take picks over the phone, in person or via text
		i.      Note: we will not have the website this year, so all the picks need to go through email

3. Your pick MUST be in before kickoff of the first Sunday game or you get the default pick.  If you want to choose a non Sunday game (like tomorrow), your pick needs to be in before the kickoff of that game. 
	a. Default pick for a non submission is the HOME TEAM ON MONDAY NIGHT.  No, if you do not send in a pick, you cannot choose which team you want on Monday night.

4. You must take 1 BYE during the season.  You get zero points for that week.  You must choose the BYE by telling us you want the bye.  If you go the whole season and never take the bye you will be disqualified

5. You have 5 Wildcards for the season.  With the wildcards you can
	a. Choose a single team multiple times
		i. EX: Giants x3 would mean you are using your regular pick for the Giants + 2 wildcards.  Your score for the week will be tripled.
	b.Choose multiple picks in one week
		i. EX: Giants, Bears.  This would be your regular pick + 1 wildcard
	c. You can also do combos where you select multiple teams and use wildcards
		i.      EX: Giants x2, Bears.  This would be your regular pick + 2 wild cards
	d. YOU DO NOT HAVE TO USE WILDCARDS IF YOU DON’T WANT TO

6. The top 10 point earners make money and go to the playoffs.  The bottom 2 do not make money but also advance to the playoffs.

7. During the playoffs, all points, wildcards and BYE reset to zero.  You get 1 more BYE and 3 wildcards.

8. For full disclosure, Phil and I will send out our picks to the group sometime before the kickoff of the games we select.  No one else’s picks will be published until they are all in.  For the new people, we do this so that you know we are not waiting until games start and than making our picks.
	a. My team name is “The King,” Phil’s is “iWeasel”
</pre>