<% provide(:title, 'Standings') %>
<h1>Standings</h1>

<table class="table table-striped">
	<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Last Pick</th>
		<th>Score</th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= link_to "#{user.team_name}", user_path(user) %></td>
				<td><%= user.email %></td>
				<td><%= user.pick_last_week %></td>
				<td><%= user.total_score %></td>
			</tr>
		<% end %>
	</tbody>
</table>
	