<% provide(:title, 'My Picks') %>
<h1>My Picks</h1>

<div class="row">
	<aside class="span4">
		<section>
			<h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
			<%= @user.email %>
		</section>
	</aside>
	<div class="span8">
		<% if(@user.picks.any?) %>
			<table class="table table-striped">
				<thead>
					<th>Week</th>
					<th>Pick</th>
					<th>Points</th>
					<th>Wildcards Used</th>
					<th>Total</th>
					<th>Options</th>
				</thead>
				<tbody>
					<%= render @picks %>
				</tbody>
			</table>
		<% else %>
			No Picks
		<% end %>
	</div>
</div>