<h3><%= @user.team_name %></h3>
<div class="row main-body">
	<aside class="span4">
		<section>
			<%= @user.full_name %><br/>
			<%= @user.email %>
		</section>
	</aside>
	<div class="span8">
		<% if(@user.picks.any?) %>
			<table class="table table-striped">
				<thead>
					<th>Week</th>
					<th>Pick</th>
					<th>Points</th>
					<th>Wildcards Used</th>
					<th>Total</th>
					<th>Options</th>
				</thead>
				<tbody>
					<%= render @picks %>
				</tbody>
			</table>
		<% else %>
			No Picks
		<% end %>
	</div>
</div>