@import "bootstrap";

/* Universal */

html, body {
	height: auto;
	min-height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: #f9faf2 url(image_path('bg_gradient.jpeg')) repeat-x scroll left top;
}

#content {
	min-height: 350px;
}

#main-content {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
}

#content, #footer, #debug {
	background: url(image_path('bg-content.png')) repeat-y;
}

/* Effects */
.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.positive-num {
	color: green;
}

.negative-num {
	color: red;
}

.shadow {
  box-shadow: 9px 6px 12px 2px #ccc;
}

.inner-shadow {
   box-shadow: inset 0 0 17px grey;
}

.left {
	float: left;
}

.right {
	float: right;
}

hr.h-divider {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	color: #A9A9A9;
}

h1 {
	font-family:Baskerville,Times,'Times New Roman',serif;
	font-size: 39px;
	color:grey;
	font-variant:small-caps;
	text-align:center;
	font-weight:bold;
	padding:15px 0px 15px 0px; /* Tweak this to your liking */
}

/* Sign In */

.sign-in-divider {
	clear: left;
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom: #999999 solid medium;
}

.sign-in-header {
	margin-left: 248px;
	margin-right: 263px;
}

.sign-in-form {
	width: 400px;
	margin-left: 173px;
/*	border:1px solid #000;*/
}

/* User Profile */
#user-pick-table {
	width: 650px;
}

#user-info {
	div {
		width: 200px;		
	}
	.user-pic {
		padding-bottom: 10px;
	}
}

.stat-box {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color:#f9f9f9;
	li {
		width: 80px;
		border: 1px solid black;
		float:left;
		text-align: center;
		padding: 5px;
	}
	.title {
		font-size: 10px;
		text-transform: uppercase;
		color: #999999;
	}
	.value {
		display: block;	
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
	}
}

.pick-picked {
	font-weight: bold;
}

.pick-correct {
	background-color: DarkSeaGreen;
}

.pick-wrong {
	background-color: IndianRed;
}

#pick-table {
	width: 100%;
	margin: auto;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  display: table;
	float: right;
	.row {
		&:first-child {
			font-weight: bold;
		}
		&:nth-child(odd) {
			background-color: #f9f9f9;
		}
	  display: table-row;
	  text-align: center;
	  vertical-align: middle;
	}
	.week {
  	display: table-cell;
	  vertical-align: middle;
		border: 1px solid black;
	}
	.pick-table-pick {
		border: 1px solid black;
		vertical-align: baseline;
  	display: table-cell;
	}
	.pick-table-wildcard {
		border: 1px solid black;
  	display: table-cell;
		vertical-align: middle;
	}
	.pick-table-spread {
		border: 1px solid black;
  	display: table-cell;
		vertical-align: middle;
	}
	.pick-table-score {
		border: 1px solid black;
  	display: table-cell;
		vertical-align: middle;
	}
	.pick-table-options {
		border: 1px solid black;
  	display: table-cell;
		vertical-align: middle;
	}
}

#pick-total {
	font-weight: bold;
	float: right;
	clear: right;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid black;	
	text-align: right;
}

/* Rules */

#rules {
	#main-rules {
		margin-left: auto;
		margin-right: auto;
		float: center;
		width: 43%;
		font-weight: bold;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		background: lightyellow;
	}
	h2 {
		margin-left: 45px;
	}
}

.rules-list {
	padding-left: 22px;
	margin-left: 50px;
}

.rules-list dt {
	background: url(image_path('bullet_arrow_right.gif')) 0px 14px no-repeat;
	margin-left: -17px;
	padding-left: 17px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #696969;
}

.rules-list dd {
	@extend .shadow;
	color: #555555;
	line-height: 25px;
	width: 80%;
	border: 1px solid black;
	padding: 3px;
	p {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	img {
		border: 2px solid black;
		float: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
	ul li {
		line-height: 25px;
	}
}

.rules-list dt.expanded {
	background: url(image_path('bullet_arrow_down.gif')) 0px 14px no-repeat;
}

#rounded-corner {
	width: 580px;
	margin-left: auto;
	margin-right: auto;
}
	
.rounded-corner-table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	width: 40%;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	margin: 20px;
	.rounded-corner-head {
		text-align: center;
		font-weight: bold;
		color: #039;
		font-size: 17px;
		border-bottom: 1px solid black;
		&:first-child {
			div:first-child {
				width: 97%;
				font-weight: bold;
				float: left;
				background: #b9c9fe url("http://media.smashingmagazine.com/images/express-css-table-design/table-images/left.png") left -1px no-repeat;
			}
			div:last-child {
				background: #b9c9fe url("http://media.smashingmagazine.com/images/express-css-table-design/table-images/right.png") right -1px no-repeat;			
			}
		}
	 	&:not(:first-child) {
			div:first-child {
				float: left;
			}
			div:last-child {
				float: right;
			}
			div {
				width: 50%;
				font-weight: normal;
				font-size: 13px;
				color: #039;
				background: #b9c9fe;
				font-weight: bold;
			}
		}
	}
	.rounded-corner-row {
		text-align: center;
		background: #e8edff;
		border-top: 1px solid #fff;
		color: #669;
		&:hover {
			background: #d0dafd;			
		}
		&:first-child {
			color: #039;
			background: #b9c9fe;			
		}
		div { 
			display: inline-block;
			width: 50%;
		}
	}
	.rounded-corner-foot {
		font-size: 10px;
		div:first-child {	
			float: left;
			background: #e8edff url("http://media.smashingmagazine.com/images/express-css-table-design/table-images/botleft.png") left bottom no-repeat;
		}
		div:last-child {
			background: #e8edff url("http://media.smashingmagazine.com/images/express-css-table-design/table-images/botright.png") right bottom no-repeat;
		}
	}
}

/* About Page */
.about-profile {
	width: 85%;
	margin: auto;
	margin-bottom: 15px;
	clear: both;
	img {
		vertical-align: middle;
		float: left;
		width: 200px;
		margin: 10px 23px 10px 10px;
	}
	p {
		color: #555;
		font-size: 16px;
		line-height: 1.8em;
	}
}

#about-story {
	p {
		padding-bottom: 10px;
		font-size: 14px;
		line-height: 22px !important;
		color: #333 !important;
	}
}