<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav" style="float: none">
				<a class="brand pull-left" href="#">Weasels Pick'Em</a>
				<ul class="nav pull-right">
					<li class="divider-vertical"><%= link_to('Home', root_path) %></li>
					<li class="divider-vertical"><%= link_to('Help', help_path) %></li>
					<li class="divider-vertical"><%= link_to('Sign in', '#') %></li>
				</ul>
			</ul>
		</div>
	</div>
</div>